<!--The content below is only a placeholder and can be replaced.-->
<div fxLayout="column" fxFlex>

  <md-toolbar color="primary">
    <span>{{ appTitle }}</span>
  </md-toolbar>

  <md-sidenav-container fxFlex>
    <md-sidenav mode="side" opened>
      <md-tab-group>
        <md-tab label="Learning From Data">
          <md-nav-list>
            <md-list-item><a (click)="selectAction('Processing Data', 'Processing Training Data')"><span>Processing Data</span></a></md-list-item>
            <md-list-item><a (click)="selectAction('DQN Training', 'Start DQN Training')"><span>DQN Training</span></a></md-list-item>
            <md-list-item><a (click)="selectAction('Serving', 'Serving DQN Policy')"><span>Serving</span></a></md-list-item>
          </md-nav-list>
        </md-tab>
        <md-tab label="Configuration">
          <md-nav-list>
            <md-list-item><a (click)="selectAction('Config Spark Cluster', 'Loading Spark Configuration')"><span>Config Spark Cluster</span></a></md-list-item>
            <md-list-item><a (click)="selectAction('Config TensorFlow Workers', 'Loading TensorFlow Configuration')"><span>Config TensorFlow Workers</span></a></md-list-item>
            <md-list-item><a (click)="selectAction('Config Kubernetes', 'Loading Kubernetes YAML Files')"><span>Config Kubernetes</span></a></md-list-item>
          </md-nav-list>
        </md-tab>
      </md-tab-group>
    </md-sidenav>
    <div class="content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px">
      <md-card fxFlex="95">
        <md-card-title>{{ currAction }}</md-card-title>
        <md-card-content>
          <div class="d3-chart" #barchart style="height: 100px; width: 100px;"></div>
        </md-card-content>
      </md-card>
    </div>
  </md-sidenav-container>
</div>

