<!--The content below is only a placeholder and can be replaced.-->
<div fxLayout="column" fxFlex>

  <md-toolbar color="primary">
    <span>{{ appTitle }}</span>
  </md-toolbar>

  <md-sidenav-container fxFlex>
    <md-sidenav mode="side" opened>
      <md-tab-group>
        <md-tab>
          <ng-template mat-tab-label>
            <md-icon>dashboard</md-icon> Learning from Data
          </ng-template>
          <md-nav-list>
            <md-list-item><a (click)="selectAction(1, 'Processing Data', 'Processing Training Data')"><div class="valign-center"><md-icon>input</md-icon>&nbsp;<span>Processing Data</span></div></a></md-list-item>
            <md-list-item><a (click)="selectAction(2, 'Q Network', 'Deep Neural Network for Q-Learning')"><div class="valign-center"><md-icon>memory</md-icon>&nbsp;<span>Q Network</span></div></a></md-list-item>
            <md-list-item><a (click)="selectAction(3, 'DQN Training', 'Running DQN Training')"><div class="valign-center"><md-icon>repeat</md-icon>&nbsp;<span>DQN Training</span></div></a></md-list-item>
            <md-list-item><a (click)="selectAction(4, 'Serving', 'Serving Requests with DQN Policy')"><div class="valign-center"><md-icon>assessment</md-icon>&nbsp;<span>Serving</span></div></a></md-list-item>
          </md-nav-list>
        </md-tab>
        <md-tab>
          <ng-template mat-tab-label>
            <md-icon>settings</md-icon> Configuration
          </ng-template>
          <md-nav-list>
            <!--
            <md-list-item><a (click)="selectAction(5, 'Config Spark Cluster', 'Loading Spark Configuration')"><span>Config Spark Cluster</span></a></md-list-item>
            -->
            <md-list-item><a (click)="selectAction(6, 'Config Kubernetes', 'Loading Kubernetes YAML Files')"><div class="valign-center"><md-icon>storage</md-icon>&nbsp;<span>Config Kubernetes</span></div></a></md-list-item>
            <md-list-item><a (click)="selectAction(7, 'Config TensorFlow PS and Workers', 'Loading TensorFlow Configuration')"><div class="valign-center"><md-icon>computer</md-icon>&nbsp;<span>Config TensorFlow PS and Workers</span></div></a></md-list-item>
          </md-nav-list>
        </md-tab>
      </md-tab-group>
    </md-sidenav>
    <div class="content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px">
      <md-card fxFlex="95">
        <md-card-title>{{ currAction }}</md-card-title>
        <md-card-subtitle *ngIf="hasChartComp()">{{ currActionDetail}}</md-card-subtitle>
        <md-card-content>
          <p *ngIf="!hasChartComp()">{{ currActionDetail}} ...</p>
          <app-nnchart *ngIf="drawNNChart()"></app-nnchart>
          <app-barchart *ngIf="drawBarChart()"></app-barchart>
          <app-linechart *ngIf="drawLineChart()"></app-linechart>
        </md-card-content>
      </md-card>
    </div>
  </md-sidenav-container>
</div>

